// colors
$primary-color: #2D9D49; //green
$secondary-color: #25823C; // dark green
$info-color: #AFB2AA;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$text-color: #343a40;
$text-secondary-color: #6c757d;


// Box shadows
$box-shadow-primary: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);