@import '../variables/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  overflow-x: hidden; // Prevents horizontal scroll
}

.first-page {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/images/main_backround.jpg'); // Ensure path is correct
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; // Ensure full viewport width
    z-index: -1; // Place it behind all other content
    animation: backgroundZoom 8s ease forwards; // Add the background zoom animation
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0 20px;
    background: rgba(0, 0, 0, 0.6);
  
    &.scrolled {
      background: $primary-color;
      transition: 0.3s ease;
    }

    .navbar-main {
      background-color: transparent !important;

      .navbar-box {
        .navbar-toggler {
          border: 1.5px solid $light-color;

          .navbar-toggler-icon {
            width: 20px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
          }
        }
        .navbar-brand img {
          width: 100px;
        }
      }
    }
  }
}

// Keyframes for background zoom animation
@keyframes backgroundZoom {
  from { transform: scale(1); }
  to { transform: scale(1.08); }
}

.nav-center {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav {
  padding-right: 10px;
  a {
    color: $light-color !important;
    position: relative;
    transition: color 0.3s ease;
    margin: 0px 12px !important;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color: $light-color;
      transition: width 0.3s ease;
    }

    &:hover {
      color: $light-color;

      &::after {
        width: 100%;
      }
    }
  }
}

.nav-right {
  display: flex;
  gap: 18px;

  button {
    background-color: transparent !important;
    border: 0;
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;

    img {
      width: 24px;
      transition: color 0.3s ease;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 0;
      height: 2px;
      background-color: $light-color;
      transition: width 0.3s ease;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

.search-button {
  input {
    background-color: transparent;
    color: $light-color;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;

    &.show {
      width: 150px;
      opacity: 1;
    }

    &::placeholder {
      color: $dark-color;
    }
  }
}

.welcome-text {
  h1 {
    position: absolute;
    top: 45%;
    left: 10%;
    color: $light-color;
    font-size: 96px;
    font-weight: 600;
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1.2s ease forwards;
    animation-delay: 0.3s;
  }

  h2 {
    position: absolute;
    top: 38%;
    left: 5%;
    color: $light-color;
    font-size: 64px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 1.2s ease forwards;
    animation-delay: 0.5s;
  }
}


// -----------media for resposive-------------------

@media (max-width: 768px) {
  .welcome-text {
    h1 {
      position: absolute;
      top: 52%;
      left: 10%;
      color: $light-color;
      font-size: 66px;
      font-weight: 600;
      margin: 0;
      opacity: 0;
      transform: translateY(20px);
      animation: slideIn 1.2s ease forwards;
      animation-delay: 0.3s;

      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); // Add shadow to improve visibility
    }
  
    h2 {
      position: absolute;
      top: 47%;
      left: 10%;
      color: $light-color;
      font-size: 34px;
      font-weight: 700;
      opacity: 0;
      transform: translateY(20px);
      animation: slideIn 1.2s ease forwards;
      animation-delay: 0.5s;

      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); // Add shadow to improve visibility
    }
  }


  .main-second {
    .what-we-provide,
    .individual-blogs,
    .our-products,
    .user-comments {

      .provide-image{
      width: 300px !important;
        height: 300px !important;
      }
    }
  }
}
// ---------------------------------------------

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}







.main-second {
  .what-we-provide,
  .individual-blogs,
  .our-products,
  .user-comments {
    h2 {
      font-size: 2rem;
      color: $primary-color;
      text-align: center;
      margin-bottom: 2rem;
      font-weight: 700;
      line-height: 127%; /* 48.26px */
      text-align: left;
    }
    .provide-image{
      width: 400px;
      height: 600px;
      flex-shrink: 0;
      object-fit: cover;
      border-radius: 20px;
      background: url(<path-to-image>) lightgray 50% / cover no-repeat;
      box-shadow: 0px 26.453px 21.163px 0px rgba(0, 0, 0, 0.09), 0px 12.057px 12.846px 0px rgba(0, 0, 0, 0.08);
    }
  }

  .provide-content{
    padding-left: 2rem;
    h3, h4, h5 {
      color: $primary-color;
    }
    p {
      color: $text-color;
    }
  }

  .blog-title{
    margin-bottom: 4rem !important;
  }
  .blog-details {
    padding-left: 2rem;
    h3{
      color: $dark-color;
      font-size: 2rem;
      font-weight: 600;
      text-transform: capitalize;
      opacity: 80%;
    }
    h4{
      color: $info-color;
    }
    h5{
      padding-top: 2rem;
      color: $dark-color;
      font-size: 1.5rem;
      font-weight: 600;
    }
    ul{
      font-weight: 400;
      line-height: 154.5%; /* 24.72px */
    }
  }
  .blog-image-box{
    .blog-image{
      border-radius: 24px;
    }
  }
  .info-plant-img{
    padding-bottom: 40px;
    text-align: center;
    padding-right: 2.5rem;
  }

  .provide-content{
    text-align: left;
    h2{
      font-size: 2rem;
      font-weight: 700;
      line-height: 127%; /* 48.26px */
      text-align: left;
    }
    strong{
      font-size: 28px;
      font-weight: 500;
      line-height: 127%; /* 35.56px */
    }
    p{
      color: $text-secondary-color;
      font-size: 18px;
      font-weight: 400;
      line-height: 127%; /* 22.86px */
    }
  }

  .list-unstyled{
    li{
      padding-top: 2.5rem;
    }
  }

  .more-info-button {
    background-color: $primary-color;
    color: $light-color;
    border: 0;
    margin-top: 50px !important;
    
    &:hover {
      background-color: darken($primary-color, 10%);
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    }
  }

  .tags .badge {
    margin-right: 0.5rem;
    font-size: 0.9rem;
    color: $light-green-color;
    border: 1px solid $light-green-color;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .product-item {
    border-radius: 24px;
    box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
    border: 0;
    .card-title {
      font-size: 1.1rem;
      color: $primary-color;
    }
    .price {
      color: $secondary-color;
    }
    .card-img-top{
      border-radius: 24px 24px 0px 0px;
    }
    .card-body{
      .btn-outline-primary{
        color: $primary-color;
        border: 1px solid $primary-color;

        &:hover {
          background-color: $primary-color;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
          color: $light-color;
        }
      }
    }
  }

  .comment-box {
    background-color: #f8f8f8;
    border-radius: 8px;
    .rating {
      font-size: 1.5rem;
      color: $primary-color;
    }
    .author-name {
      font-weight: bold;
    }
    .author-position {
      font-size: 0.9rem;
      color: $text-secondary-color;
    }
    img {
      width: 100px;
    }
  }

  .footer {
    background-color: $footer-color;
    color: $light-color;
    .footer-logo img {
      width: 100px;
    }
    .footer-links,
    .footer-social,
    .subscribe {
      a {
        color: $light-color;
        display: block;
        margin-bottom: 0.5rem;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    .subscribe .form-control {
      max-width: 80%;
    }
  }
}

section{
  padding: 50px 50px !important;
  margin-top: 50px;
}