@import '../variables/colors';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; // Set global font to Poppins
}


.product-page {
    padding: 20px;
    margin-top: 70px;
    h1 {
      text-align: center;
      color: $primary-color;
      margin-bottom: 50px;
    }
  
    .products-list {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .product-card {
      width: 200px;
      padding: 15px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      
      img {
        width: 100%;
        border-radius: 4px;
      }
  
      h2 {
        font-size: 1.2em;
        color: $text-color;
      }
  
      .price {
        color: $primary-color;
        font-weight: bold;
      }
  
      .add-to-cart {
        background-color: $primary-color;
        color: #fff;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }