@import '../variables/colors';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; // Set global font to Poppins
}
.service-page {
    padding: 20px;
  
    h1 {
      text-align: center;
      color: $primary-color;
    }
  
    p {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      color: $dark-color;
    }
  
    .services-list {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      gap: 20px;
  
      .service-card {
        width: 300px;
        padding: 20px;
        background-color: #f3f3f3;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
  
        h2 {
          font-size: 1.5em;
          color: $primary-color;
        }
  
        p {
          color: $dark-color;
        }
      }
    }
  }