@import '../variables/colors';
.our-products {
  .product-item {
    border-radius: 24px;
    box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
    border: 0;

    .card-title {
      font-size: 1.1rem;
      color: $primary-color;
    }

    .price {
      color: $text-color;
      font-weight: 500;
    }

    .card-img-top {
      border-radius: 24px 24px 0px 0px;
    }

    .btn-outline-primary {
      color: $light-color;
      border: 1px solid $primary-color;
      background-color: $primary-color;

      &:hover {
        background-color: $secondary-color;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        color: $light-color;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    background-color: $primary-color;
    opacity: 0.8 !important;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth animation */
  }
  
  
  .carousel-control-prev {
    left: -40px; 
  }
  
  .carousel-control-next {
    right: -40px; 
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    transform: translateY(-50%) scale(1.2); 
    opacity: 1 !important;
    box-shadow: $box-shadow-primary;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    font-size: 18px; 
    color: white;
    width: 14px;
    height: 14px;
  }
  
}
